:root {
  --monochromatic-white: #ffffff;
  --monochromatic-black: #000000;
  --monochromatic-alabaster: #F7F7F7;
  --monochromatic-black-haze: #EFF0F0;
  --monochromatic-concrete: #F2F2F2;
  --monochromatic-gallery: #EEEEEE;
  --monochromatic-mercury: #E8E8E8;
  --monochromatic-alto: #DDDDDD;
  --monochromatic-nobel: #C4C4C4;
  --monochromatic-silver: #BBBBBB;
  --monochromatic-delta: #A6A6A6;
  --monochromatic-dull: #888888;
  --monochromatic-dove-grey: #737373;
  --monochromatic-mine-shaft: #333333;

  --primary-move-blue: #34617C;
  --primary-surf-green: #119476;
  --primary-whiskey: #D29E61;
  --primary-salmon: #FF8173;
  --primary-navy: #0C5E96;
  --primary-green-haze: #00B22D;
  --primary-mustard: #FFD657;
  --primary-valencia: #D93A39;

  --tint-move-blue-20: #5D8196;
  --tint-move-blue-40: #85A0B0;
  --tint-move-blue-60: #AEC0CB;
  --tint-navy-20: #3D7EAB;
  --tint-navy-40: #6D9EC0;
  --tint-navy-60: #9EBFD5;
  --tint-surf-green-20: #41A991;
  --tint-surf-green-40: #70BFAD;
  --tint-surf-green-60: #A0D4CB;
  --tint-green-haze-20: #33C157;
  --tint-green-haze-40: #66D181;
  --tint-green-haze-60: #99E0AB;
  --tint-whiskey-20: #DBB181;
  --tint-whiskey-40: #E4C5A0;
  --tint-whiskey-60: #EDD8C0;
  --tint-mustard-20: #FFDE79;
  --tint-mustard-40: #FFE69A;
  --tint-mustard-60: #FFEFBC;
  --tint-salmon-20: #E16161;
  --tint-salmon-40: #E88988;
  --tint-salmon-60: #F0B0B0;
  --tint-valencia-20: #FF9A8F;
  --tint-valencia-40: #FFB3AB;
  --tint-valencia-60: #FFCDC7;

  --shade-move-blue-20: #152732;
  --shade-move-blue-40: #1F3A4A;
  --shade-move-blue-60: #2A4E63;
  --shade-navy-20: #05263C;
  --shade-navy-40: #07385A;
  --shade-navy-60: #0A4B78;
  --shade-surf-green-20: #073B2F;
  --shade-surf-green-40: #0A5947;
  --shade-surf-green-60: #0E765E;
  --shade-green-haze-20: #004712;
  --shade-green-haze-40: #006B1B;
  --shade-green-haze-60: #008E24;
  --shade-whiskey-20: #543F27;
  --shade-whiskey-40: #7E5F3A;
  --shade-whiskey-60: #A87E4E;
  --shade-mustard-20: #665623;
  --shade-mustard-40: #998034;
  --shade-mustard-60: #CCAB46;
  --shade-salmon-20: #66342E;
  --shade-salmon-40: #994D45;
  --shade-salmon-60: #CC675C;
  --shade-valencia-20: #571717;
  --shade-valencia-40: #822322;
  --shade-valencia-60: #AE2E2E;

  --tone-move-blue-20: #43677C;
  --tone-move-blue-40: #526D7D;
  --tone-move-blue-60: #61737E;
  --tone-navy-20: #236491;
  --tone-navy-40: #3A6B8D;
  --tone-navy-60: #517288;
  --tone-surf-green-20: #278F77;
  --tone-surf-green-40: #3D8C7A;
  --tone-surf-green-60: #53877B;
  --tone-green-haze-20: #19A73D;
  --tone-green-haze-40: #339E4E;
  --tone-green-haze-60: #4C935E;
  --tone-whiskey-20: #C19767;
  --tone-whiskey-40: #B1926D;
  --tone-whiskey-60: #A08B73;
  --tone-mustard-20: #E5C45F;
  --tone-mustard-40: #E5C45F;
  --tone-mustard-60: #B2A26F;
  --tone-salmon-20: #E58075;
  --tone-salmon-40: #CC8078;
  --tone-salmon-60: #B2807A;
  --tone-valencia-20: #C74747;
  --tone-valencia-40: #B55655;
  --tone-valencia-60: #A36363;
}

.black{
  --monochromatic-white: #ffffff;
  --monochromatic-black: #000000;
  --monochromatic-alabaster: #1B1F21;
  --monochromatic-black-haze: #222629;
  --monochromatic-concrete: #F2F2F2;
  --monochromatic-gallery: #EEEEEE;
  --monochromatic-mercury: #E8E8E8;
  --monochromatic-alto: #DDDDDD;
  --monochromatic-nobel: #C4C4C4;
  --monochromatic-silver: #BBBBBB;
  --monochromatic-delta: #A6A6A6;
  --monochromatic-dull: #888888;
  --monochromatic-dove-grey: #737373;
  --monochromatic-mine-shaft: #333333;

  --primary-move-blue: #34617C;
  --primary-surf-green: #119476;
  --primary-whiskey: #D29E61;
  --primary-salmon: #FF8173;

  --primary-navy: #0C5E96;
  --primary-green-haze: #00B22D;
  --primary-mustard: #FFD657;
  --primary-valencia: #D93A39;
}
